<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gigya.android.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.gigya.android.sample.GigyaSampleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup"
        tools:targetApi="n">

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Gigya SDK integration -->
        <activity
            android:name="com.gigya.android.sdk.ui.HostActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <activity
            android:name="com.gigya.android.sdk.ui.WebLoginActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <!-- Facebook integration -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <!-- WeChat integration -->
        <activity
            android:name=".ui.BiometricPushTFAActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Translucent" />

        <activity
            android:name="com.gigya.android.sdk.auth.ui.PushAuthActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Translucent" />

        <activity android:name=".ui.WebBridgeTestActivity" />

        <activity
            android:name="com.gigya.android.sdk.nss.NssActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" />

        <!-- Line integration -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Google integration -->
        <meta-data
            android:name="wechatAppID"
            android:value="@string/wechatAppID" />

        <!-- Gigya TFA messaging service -->
        <meta-data
            android:name="lineChannelID"
            android:value="@string/line_Channel_ID" />

        <!-- Gigya TFA display activity -->
        <meta-data
            android:name="googleClientId"
            android:value="@string/google_client_id" />

        <receiver
            android:name="com.gigya.android.sdk.tfa.push.TFAPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="@string/gig_tfa_action_approve" />
                <action android:name="@string/gig_tfa_action_deny" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.gigya.android.sdk.auth.push.AuthPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="@string/gig_auth_action_approve" />
                <action android:name="@string/gig_auth_action_deny" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.gigya.android.sdk.push.GigyaFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>