<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gigya.android.gigyademo">
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationExt"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.AccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- BEGIN: Gigya SDK integration -->
        <activity
            android:name="com.gigya.android.sdk.ui.HostActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <activity
            android:name="com.gigya.android.sdk.ui.WebLoginActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter android:label="web_login_redirect">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "gigya://gsapi.applicationId/login_result” -->
                <data
                    android:host="gsapi"
                    android:pathPrefix="/${applicationId}/login_result"
                    android:scheme="gigya" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="apiKey"
            android:value="3_-yQ-2hu97XjRDQFVoIgSk4myCI26Dtjy-Xbv6ZKjhXUKXnRGXLVvf3WWZIJEjbvi" />

        <meta-data
            android:name="accountCacheTime"
            android:value="5" />

        <!-- END: Gigya SDK integration -->

        <!-- BEGIN: Google SDK integration -->

        <meta-data
            android:name="googleClientId"
            android:value="@string/google_client_id" />

        <!-- END: Google SDK integration -->

        <!-- BEGIN: Facebook SDK integration -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- END: Facebook SDK integration -->

        <!-- START: Gigya PUSH TFA & Authentication integration -->
        <service
            android:name="com.gigya.android.sdk.push.GigyaFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.gigya.android.sdk.tfa.push.TFAPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="@string/gig_tfa_action_approve" />
                <action android:name="@string/gig_tfa_action_deny" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.gigya.android.sdk.tfa.ui.PushTFAActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Translucent" />

        <receiver
            android:name="com.gigya.android.sdk.auth.push.AuthPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="@string/gig_auth_action_approve" />
                <action android:name="@string/gig_auth_action_deny" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.gigya.android.sdk.auth.ui.PushAuthActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Translucent" />

        <!-- END: Gigya PUSH TFA & Authentication integration -->
    </application>

</manifest>